# Ignore Gradle project-specific cache directory
.gradle
.idea
gradle.properties

# Ignore Gradle build output directory
build

server/src/main/resources/react
server/tmp/
server/tachiserver-data/

# OpenJDK downlaods
OpenJDK*