# Ignore Gradle project-specific cache directory
.gradle
.idea
gradle.properties

# Ignore Gradle build output directory
build

server/src/main/resources/WebUI.zip
server/tmp/
server/tachiserver-data/

# bundle asset downlaods
OpenJDK*.*
zulu*jre*
electron-*.*
rcedit-*
