Source: suwayomi-server
Section: web
Priority: optional
Maintainer: Mahor1221 <mahor1221@pm.me>
Build-Depends: debhelper-compat (= 13), dh-exec
Standards-Version: 4.5.1
Homepage: https://github.com/Suwayomi/Suwayomi-Server

Package: suwayomi-server
Architecture: all
Depends: ${misc:Depends}, zulu21-jre | zulu21-jre-headless | zulu21-jdk | zulu21-jdk-headless | openjdk-21-jre | openjdk-21-jre-headless | openjdk-21-jdk | openjdk-21-jdk-headless | temurin-21-jre | temurin-21-jdk | msopenjdk-21 | java-21-amazon-corretto-jdk
Description: Manga Reader
 A free and open source manga reader server that runs extensions built for Tachiyomi.
 Suwayomi is an independent Tachiyomi compatible software and is not a Fork of Tachiyomi.
