<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" UpgradeCode="174c8f36-0bec-4585-9ddd-469c3d889dc1"
    Version="$(var.ProductVersion)" Language="1033" Name="Suwayomi Server" Manufacturer="Suwayomi">
    <Package InstallerVersion="300" Compressed="yes" />
    <Media Id="1" Cabinet="Suwayomi_Server.cab" EmbedCab="yes" />

    <Condition Message="This version of Windows does not support deploying 64-bit packages.">
      VersionNT64
    </Condition>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!-- Directory -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="Suwayomi-Server" >
          <Directory Id="jre"/>
          <Directory Id="electron"/>
          <Directory Id="bin"/>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="Suwayomi-Server">
          <Component Id="ProgramMenuDir" Guid="*">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>

    <!-- Component -->
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="SuwayomiJAR" Guid="*" Win64="yes">
          <File Id="Suwayomi-Launcher.jar" Source="$(var.SourceDir)/Suwayomi-Launcher.jar" KeyPath="yes" />
      </Component>

      <Component Id="SuwayomiLauncherBAT" Guid="*" Win64="yes">
        <File Id="SuwayomiLauncher.bat" Source="$(var.SourceDir)/Suwayomi Launcher.bat" KeyPath="yes" >
          <Shortcut Id="SuwayomiLauncher.lnk" Name="Suwayomi Launcher" Directory="INSTALLDIR"
            WorkingDirectory="INSTALLDIR" Icon="Suwayomi.ico" IconIndex="0" Advertise="yes" />
          <Shortcut Id="DesktopSuwayomiLauncher.lnk" Name="Suwayomi Launcher" Directory="DesktopFolder"
            WorkingDirectory="INSTALLDIR" Icon="Suwayomi.ico" IconIndex="0" Advertise="yes" />
          <Shortcut Id="ProgramMenuSuwayomiLauncher.lnk" Name="Suwayomi Launcher" Directory="ProgramMenuDir"
            WorkingDirectory="INSTALLDIR" Icon="Suwayomi.ico" IconIndex="0" Advertise="yes"
            Description="A free and open source manga reader that runs extensions built for Tachiyomi." />
        </File>
      </Component>

      <Component Id="UninstallPreviousVersionsScript" Guid="*" Win64="yes">
        <File Id="UninstallPreviousVersions.ps1" Source="$(var.SourceDir)/UninstallPreviousVersions.ps1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- assign the string (ps command) to RegisterPowerShellProperty -->
    <CustomAction Id="RegisterUninstallScript"
        Property="RunUninstallScript"
        Value="&quot;C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe&quot; -NoLogo -NonInteractive -InputFormat None -NoProfile -ExecutionPolicy Bypass -File &quot;[INSTALLDIR]UninstallPreviousVersions.ps1&quot;"
        Execute="immediate"
        Impersonate="no" />
    <CustomAction Id="RunUninstallScript"
        BinaryKey="WixCA"
        DllEntry="CAQuietExec64"
        Execute="deferred"
        Return="check"
        Impersonate="no" />

    <!-- Schedule the Custom Action -->
    <InstallExecuteSequence>
      <Custom Action="RegisterUninstallScript" After="CostFinalize">NOT Installed</Custom>
      <Custom Action="RunUninstallScript" After="CostInitialize">NOT Installed</Custom>
      <RemoveExistingProducts After="InstallValidate" />
    </InstallExecuteSequence>

    <!-- Feature -->
    <Feature Id="Suwayomi_Server" Title="Suwayomi-Server" Level="1">
      <ComponentGroupRef Id="jre" />
      <ComponentGroupRef Id="bin" />
      <ComponentRef Id="SuwayomiJAR" />
      <ComponentRef Id="SuwayomiLauncherBAT" />
      <ComponentRef Id="UninstallPreviousVersionsScript" />
      <ComponentRef Id="ProgramMenuDir" />
      <ComponentGroupRef Id="electron" />
    </Feature>

    <Icon Id="Suwayomi.ico" SourceFile="$(var.Icon)" />
    <Property Id="ARPPRODUCTICON" Value="Suwayomi.ico" /> <!-- Icon in Add/Remove Programs -->
  </Product>
</Wix>
