<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" UpgradeCode="*"
    Version="$(var.ProductVersion)" Language="1033" Name="Tachidesk Server" Manufacturer="Suwayomi">
    <Package InstallerVersion="300" Compressed="yes" />
    <Media Id="1" Cabinet="Tachidesk_Server.cab" EmbedCab="yes" />

    <!-- Directory -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Tachidesk-Server" >
          <Directory Id="jre"/>
          <Directory Id="electron"/>
          <Directory Id="bin"/>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="Tachidesk-Server">
          <Component Id="ProgramMenuDir" Guid="*">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>

    <!-- Component -->
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="TachideskJAR" Guid="*">
          <File Id="Tachidesk-Launcher.jar" Source="$(var.SourceDir)/Tachidesk-Launcher.jar" KeyPath="yes" />
      </Component>

      <Component Id="TachideskLauncherBAT" Guid="*" Win64="yes">
        <File Id="TachideskLauncher.bat" Source="$(var.SourceDir)/Tachidesk Launcher.bat" KeyPath="yes" >
          <Shortcut Id="TachideskLauncher.lnk" Name="Tachidesk Launcher" Directory="INSTALLDIR"
            WorkingDirectory="INSTALLDIR" Icon="Tachidesk.ico" IconIndex="0" Advertise="yes" />
          <Shortcut Id="DesktopTachideskLauncher.lnk" Name="Tachidesk Launcher" Directory="DesktopFolder"
            WorkingDirectory="INSTALLDIR" Icon="Tachidesk.ico" IconIndex="0" Advertise="yes" />
          <Shortcut Id="ProgramMenuTachideskLauncher.lnk" Name="Tachidesk Launcher" Directory="ProgramMenuDir"
            WorkingDirectory="INSTALLDIR" Icon="Tachidesk.ico" IconIndex="0" Advertise="yes"
            Description="A free and open source manga reader that runs extensions built for Tachiyomi." />
        </File>
      </Component>
    </DirectoryRef>

    <!-- Feature -->
    <Feature Id="Tachidesk_Server" Title="Tachidesk-Server" Level="1">
      <ComponentGroupRef Id="jre" />
      <ComponentGroupRef Id="bin" />
      <ComponentRef Id="TachideskJAR" />
      <ComponentRef Id="TachideskLauncherBAT" />
      <ComponentRef Id="ProgramMenuDir" />
      <ComponentGroupRef Id="electron" />
    </Feature>

    <Icon Id="Tachidesk.ico" SourceFile="$(var.Icon)" />
    <Property Id="ARPPRODUCTICON" Value="Tachidesk.ico" /> <!-- Icon in Add/Remove Programs -->
  </Product>
</Wix>
